extends ../shared/template

block content



  h1(style='color:white; text-align:center') Browse Locals in Your Area!


  #carousel-example-generic.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      each user, index in users
        li(class='#{!index ? "active" : ""}', data-target='#carousel-example-generic', data-slide-to=index)

    .carousel-inner
      each user, index in users
        .item(class='#{!index ? "active" : ""}')
          .carousel-img
            a(href='/users/#{user._id}')
              img(src='/img/users/#{user._id}/#{user.profilePic}', alt='/img/default.jpg')
              .carousel-caption
                p= user.username
      |'

    a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
        span.glyphicon.glyphicon-chevron-right





  #browse.well
    select#orientation.form-control(name='orientation')
      option(name='straight' value='straight') Straight
      option(name='gay', value='gay') Gay
      option(name='bi', value='bi') Bi

    select#sex.form-control(name='sex')
      option(name='male' value='male') Male
      option(name='female', value='female') Female

    //- select#games.selectpicker

    select#distance.form-control(name='distance')
      option(name='25' value='25') 25 Miles
      option(name='50' value='50') 50 Miles
      option(name='100' value='100') 100 Miles
      option(name='150' value='150') 150 Miles
      option(name='anywhere' value='anywhere') Anywhere

    input#game(placeholder="Favorite Game", name= 'game')

    button#filterSpecifity Filter Matches


  #filteredMatches.well.well-lg










block scripts
  script(src='/js/es6/compiled/browse.js')
