#name.well.well-sm
  #nameT.well.well-sm Username:
  #nameV #{owner.username}

#age.well.well-sm
  #ageT.well.well-sm Age:
  #ageV #{owner.age}

#gender.well.well-sm
  #genderT.well.well-sm Gender:
  #genderV #{owner.gender}

#location.well.well-sm
  #locationT.well.well-sm Location:
  #locationV #{owner.location}

#intrest.well.well-sm
  #intrestT.well.well-sm Interested In:
  #intrestV #{owner.seeking}

- if(locals.user.isOwner(owner._id))
  button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='#infoModal')
    | Edit
